---
layout: fuso-eng
---
<!--
<a href="https://vimeo.com/showcase/10611535"><div class="background-white">
    <img src="{{site.baseurl}}/assets/img/2023/FUSO_2023_SITE_POS-PROGRAMA_1_ENG.jpg" alt="pos-programa" class="w-100 desktop">
    <img src="{{site.baseurl}}/assets/img/2023/FUSO_2023_SITE_POS-PROGRAMA_MOBILE_1_ENG.jpg" alt="pos-programa" class="w-100 mobile">
    
</div></a>
-->
{% if site.data.index.fase == "0" or site.data.index.fase == "2" %}

{% if site.data.index.imagem_opencall_eng and site.data.index.imagem_opencall_eng != '' %}
<div>
    <img src="{{site.baseurl}}{{ site.data.index.imagem_opencall_eng }}" alt="Fuso 2024" class="w-100 desktop">
    <img src="{{site.baseurl}}{{ site.data.index.imagem_opencall_eng_mobile }}"  alt="Fuso 2024" class="w-100 mobile">
</div>
{% endif %}

{% if site.data.index.imagem_datas_eng and site.data.index.imagem_datas_eng != '' %}
<div>
    <img src="{{site.baseurl}}{{ site.data.index.imagem_datas_eng }}" alt="FusoPrograma" class="w-100 desktop">
    <img src="{{site.baseurl}}{{ site.data.index.imagem_datas_eng_mobile }}" alt="FusoPrograma" class="w-100 mobile">
</div>
{% endif %}

{% else if site.data.index.fase == "1" %}
<div class="fuso mx-3 mb-3 fuso-programs">
    {% assign programs = site.fuso_programs | sort:'start' %}
    {% for programa in programs  %}
    <a href="{{programa.url}}"><div style="border-color: {{ site.data.index.colour }} !important" class="border border-2 mx-2 mb-3 position-relative programa-container">
        <img src="{{site.baseurl}}{{programa.imagem}}" alt="imagem-evento" class="h-100 w-100 object-fit-cover saturate">
        <div style="color: {{ site.data.index.colour }};" class="position-absolute d-flex top-0 left-0 p-3 gradient w-100">
            <h1 class="font-rossa prog-title">{{ programa.data }}<br>{{programa.month_eng}}</h1>
            <h5 class="ms-5 w-md-25">{{ programa.title_eng }}</h5>
        </div>
    </div></a>
    {% endfor %}
</div>
{% endif %}
<script>
    window.onscroll = function() {
        growShrinkLogo()
    };
    
    function growShrinkLogo() {
        var Logo = document.querySelector(".site-title")
        var navbar = document.querySelector(".navbar-container")
        if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1) {
            Logo.classList.remove("w-100");
        } else {
            Logo.classList.add("w-100");
        }
    }
</script>
