<div id='footer' class="d-lg-flex p-4 border-top border-2 border-dark">
    <div>
        <a href="https://www.instagram.com/fuso.videoarte/" target="_blank"><u>Instagram</u></a><br>
        <a href="https://www.facebook.com/FUSOanualvideoarte/" target="_blank"><u>Facebook</u></a><br>
        <div id="mc_embed_shell">
            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <style type="text/css">
                #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; max-width: 500px;}
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                #mc-embedded-subscribe:hover {
                    background: #fff22d !important;
                }

                #mc_embed_signup .mc-field-group {
                    min-height: 30px;
                }
        </style>
        <div id="mc_embed_signup">
            <form action="https://duplacena.us19.list-manage.com/subscribe/post?u=58cfa015feb60e62e1d9607ba&amp;id=27b3829272&amp;f_id=0086f1e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate m-0 mt-3" target="_blank">
                <div id="mc_embed_signup_scroll">
                    <div>
                        <div class="mc-field-group"><input style="min-width: 250px;" type="email" placeholder="E-mail" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_58cfa015feb60e62e1d9607ba_27b3829272" tabindex="-1" value=""></div><div class="clear"><input type="submit" name="subscribe" style="background: black;" id="mc-embedded-subscribe" class="button w-100" value="Subscrever Newsletter"></div>
                    </div>
                    <div id="mce-responses" class="clearfalse">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
            </div>
        </form>
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=EMAIL;ftypes[0]=merge;,fnames[1]=FNAME;ftypes[1]=merge;,fnames[undefined]=interests_11867;ftypes[undefined]=group;false}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
    </div>
    <div class="d-flex flex-wrap align-items-start logos-footer">
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Produção</h6>
                {% for logo in site.data.parceiros-footer.producao %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Producao" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Financiamento</h6>
                {% for logo in site.data.parceiros-footer.financiamento %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Parceria<br>Institucional</h6>
                {% for logo in site.data.parceiros-footer.institucional %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Parceria Institucional" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">    
                <h6 class="capitalize pe-3 smaller-text">Apoio</h6>
                {% for logo in site.data.parceiros-footer.partner %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Apoio" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Apoio à<br>Divulgação</h6>
                {% for logo in site.data.parceiros-footer.media %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Divulgação" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Acolhimento</h6>
                {% for logo in site.data.parceiros-footer.hosts %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Acolhimento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
    </div>
</div>
