<div id='footer' class="d-lg-flex p-4 border-top border-2 border-dark">
    <div>
        <a href="https://www.instagram.com/fuso.videoarte/" target="_blank"><u>Instagram</u></a><br>
        <a href="https://www.facebook.com/FUSOanualvideoarte/" target="_blank"><u>Facebook</u></a><br>
    </div>
    <div class="d-flex flex-wrap align-items-start logos-footer">
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Production</h6>
                {% for logo in site.data.parceiros-footer.producao %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Producao" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Financing</h6>
                {% for logo in site.data.parceiros-footer.financiamento %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Institucional<br>Partner</h6>
                {% for logo in site.data.parceiros-footer.institucional %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">    
                <h6 class="capitalize pe-3 smaller-text">Partner</h6>
                {% for logo in site.data.parceiros-footer.partner %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Media<br>Partner</h6>
                {% for logo in site.data.parceiros-footer.media %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Hosts</h6>
                {% for logo in site.data.parceiros-footer.hosts %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
    </div>
</div>