<div id='footer' class="d-lg-flex p-4 border-top border-2 border-dark">
    <div>
        <a href="https://www.instagram.com/fuso.videoarte/" target="_blank"><u>Instagram</u></a><br>
        <a href="https://www.facebook.com/FUSOanualvideoarte/" target="_blank"><u>Facebook</u></a><br>
    </div>
    <div class="d-flex flex-wrap align-items-start logos-footer">
            <div class="d-flex flex-xl-row flex-column align-items-start">
                <h6 class="capitalize pe-3 smaller-text">Produção</h6>
                {% for logo in site.data.parceiros-insular.producao %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Producao" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column align-items-start">
                <h6 class="capitalize pe-3 smaller-text">Financiamento</h6>
                {% for logo in site.data.parceiros-insular.financiamento %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3 desktop">
                <img src="{{ site.baseurl }}/assets/img/financing_insular_02.png" alt="Logo Finaciamento" class="partners-logo-footer financing-logo pe-3 mobile">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column align-items-start">
                <h6 class="capitalize pe-3 smaller-text">Co-Produção</h6>
                {% for logo in site.data.parceiros-insular.co-prod %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <div class="d-flex flex-xl-row flex-column align-items-start">    
                <h6 class="capitalize pe-3 smaller-text">Parceria</h6>
                {% for logo in site.data.parceiros-insular.parceria %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            <!--
            <div class="d-flex flex-xl-row flex-column">
                <h6 class="capitalize pe-3 smaller-text">Apoio à<br>Divulgação</h6>
                {% for logo in site.data.parceiros-insular.media %}
                <img src="{{ site.baseurl }}{{ logo }}" alt="Logo Finaciamento" class="partners-logo-footer pe-3">
                {% endfor %}
            </div>
            -->
    </div>
</div>